* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #24292e;
  color: #c9d1d9;
}

.section h2 {
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  background-color: #2c974b;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #1e6632;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.release-item {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2e353b;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.release-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.release-description {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #c9d1d9;
}

.download-button,
.show-button,
.hide-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c974b;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.download-button:hover,
.show-button:hover,
.hide-button:hover {
  background-color: #1e9440;
}

.warning-box {
  background-color: #ffd33d;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.warning-box .release-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #1f1f1f;
}

.warning-box .release-title i {
  color: #1f1f1f;
  margin-right: 10px;
}

.warning-box .release-description {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #1f1f1f;
}

.commit-hash {
  color: #33FF99;
  font-size: 24px;
}

.commit-hash-experimental {
  color: #ffd33d;
  font-size: 24px;
}

#older-releases h2 {
  display: none;
}

#older-builds-toggle {
  text-align: center;
  margin-top: 10px;
}

.show-button,
.hide-button {
  padding: 10px 20px;
  font-size: 16px;
}

.show-button {
  background-color: #2e353b;
}

.hide-button {
  background-color: #2e353b;
  margin-left: 10px;
}

.show-button,
.hide-button {
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

.show-button:hover,
.hide-button:hover {
  background-color: #1e9440;
}

.older-build {
  display: none;
}

.button-space {
  margin-right: 10px;
}
